.popular-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.popular-item {
    margin: 20px;
    text-align: center;
}

.popular-rank {
    font-size: 20px;
    margin: 10px;
}

.space-list-items {
    margin-bottom: 7px;
}

.avatar {
    width: 150px;
    border-radius: 50%;
}