.row {
    display: flex;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}

.column input {
    border-radius: 3px;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.43);
    font-size: 16px;
    width: 80%;
}

.header {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}